/*Start  Global Rules */
* {
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 50px;
  --main-padding-bottom: 100px;
  --section-background-color: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  height: 5000px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* Rate */
.rate i {
  font-size: 20px;
}
.filled {
  color: #ffc107;
}
/* Start Main title */
.main-title {
  border: 2px solid #ddd;
  font-size: 30px;
  padding: 10px 20px;
  font-weight: bold;
  width: fit-content;
  margin: 100px auto;
  position: relative;
}
.main-title:hover {
  border-color: #fff;
  color: #fff;
  transition-delay: 0.5s;
}
.main-title::before,
.main-title::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  border: 2px solid #fff;

  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover::before {
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  animation: right-move 0.5s linear forwards;
}
/* End Main title */

/* small */
@media (min-width: 768px) {
  .container {
    width: 970px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*End  Global Rules */
/* Start Header */
header {
  box-shadow: 0px 0px 3px #ddd;
  width: 100%;
  background-color: #fff;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .container .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  header .container .logo {
    width: 100%;
  }
}
nav > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 72px;
  overflow: hidden;
  color: #000;
  padding: 0px 30px;
  margin: 0 5px;
  font-size: 18px;
  transition: var(--main-transition) ease-in-out;
}
@media (max-width: 767px) {
  nav > ul > li > a {
    font-size: 13px;
    height: 40px;
    padding: 0 10px;
  }
}
nav > ul > li > a::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--main-color-alt);
  top: 0;
  left: -100%;
  transition: var(--main-transition) ease-in-out;
}
nav > ul > li > a:hover {
  color: var(--main-color);
  background-color: #f1f1f1;
  overflow: hidden;
}
nav > ul > li > a:hover::before {
  left: 0;
}

/* Start Mega Menu */
.mega-menu {
  display: flex;
  gap: 40px;
  position: absolute;
  left: 0;
  top: calc(100% + 50px);
  width: 100%;
  padding: 20px;
  transition: top var(--main-transition);
  background-color: #fff;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
nav > ul > li:last-child:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  z-index: 100;
  top: calc(100%);
}
.mega-menu .image img {
  max-width: 90%;
}
.mega-menu .links {
  flex: 2;
}
.mega-menu .links li {
  margin: 5px 0;
  position: relative;
  display: flex;
  align-items: center;
}
.mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.mega-menu .links li::before {
  position: absolute;
  content: "";
  width: 0%;
  z-index: -1;
  left: 0;
  height: 100%;
  transition: var(--main-transition) ease-in-out;
  background-color: #ececec;
}
.mega-menu .links li:hover::before {
  width: 100%;
}
.mega-menu .links li a {
  padding: 20px 10px;
  color: var(--main-color-alt);
  font-size: 18px;
  font-weight: bold;
}
.mega-menu .links li i {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .mega-menu {
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }
  .mega-menu .links li:last-child {
    border-bottom: 1px solid #ddd;
  }
  .mega-menu .links li a {
    font-size: 15px;
    width: 100%;
  }

  .mega-menu .image {
    display: none;
  }
}
/* End Mega Menu */
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 72px);
}

.landing::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container .text {
  flex: 1;
}
.landing .container .text h1 {
  letter-spacing: -2px;
  font-size: 40px;
  margin: 0;
}

.landing .container .text p {
  font-size: 20px;
  line-height: 1.7;
  color: #777;
  max-width: 500px;
}
.landing .container .image img {
  position: relative;
  width: 600px;
  height: 300px;
  margin-bottom: 100px;
  animation: up-and-down 5s linear infinite;
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  transition: var(--main-transition);
  animation: bouncing 2s infinite;
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
@media (max-width: 991px) {
  .landing .container {
    height: 70vh;
    text-align: center;
  }
  .landing .container .text h1 {
    font-size: 20px;
    letter-spacing: 0.5px;
  }
  .landing .container .text p {
    font-size: 18px;
    line-height: 1.7;
    margin: 10px auto;
  }
  .landing .container .image {
    display: none;
  }
  .landing .go-down {
    bottom: -15px;
  }
}
/* End Landing */
/* Start articles */
.articles .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.articles .boxs .box {
  background-color: #fff;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 10px;
  overflow: hidden;
  transition: transform var(--main-transition) ease-in-out;
}
.articles .boxs .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  cursor: pointer;
}
.articles .boxs .box img {
  max-width: 100%;
}
.articles .boxs .box .content {
  padding: 20px;
}
.articles .boxs .box .content h3 {
  margin: 0;
}
.articles .boxs .box .content p {
  line-height: 1.7;
  color: #777;
}
.articles .boxs .box .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #ddd;
  color: var(--main-color);
}
.articles .boxs .box .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .boxs .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
/* End articles */
/* start gallery */
.gallery {
  background-color: var(--section-background-color);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.gallery .main-title {
  z-index: 1;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.gallery .container .box {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .container .box .image img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .container .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
.gallery .container .box .image::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  background-color: rgb(255 255 255 / 20%);
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}
.gallery .container .box .image:hover::before {
  animation: flashing 0.7s;
}
/* End gallery */
/* Start  Features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.features .container .box {
  border: 1px solid #ccc;
  text-align: center;
}
.features .container .box .image {
  position: relative;
  overflow: hidden;
}
.features .container .box .image::before {
  position: absolute;
  content: "";
  top: -1px;
  width: 100%;
  height: 100%;
}
.features .container .box .image::after {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 0px 0px 200px 500px;
  bottom: 0;
  right: 0;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}

.features .container .box:hover .image::after {
  border-width: 200px 500px 200px 0px;
}
.features .container .box .image img {
  max-width: 100%;
}
.features .container .box h2 {
  position: relative;
  font-size: 30px;
  margin: auto;
  width: fit-content;
}
.features .container .box h2::after {
  position: absolute;
  content: "";
  height: 5px;
  bottom: -20px;
  left: 15px;
  width: calc(100% - 30px);
  border-radius: 5px;
  background-color: red;
}
.features .container .box p {
  padding: 20px;
  line-height: 1.7;
  font-size: 20px;
  color: #777;
}
.features .container .box a {
  position: relative;
  display: block;
  border: 3px solid green;
  width: fit-content;
  margin: 0 auto 30px;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 20px;
}
.features .container .box a::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  transition: var(--main-transition);
  z-index: -1;
}
.features .container .box:hover a {
  color: #fff;
}
.features .container .quality .image::before {
  background-color: rgba(255, 0, 0, 0.144);
}
.features .container .quality h2::after {
  background-color: #f44036;
}
.features .container .quality a {
  border-color: #f44036;
  color: #f44036;
}
.features .container .quality:hover a::after {
  width: 100%;
  background-color: #f44036;
}

.features .container .time h2::after {
  background-color: #009688;
}
.features .container .time a {
  border-color: #009688;
  color: #009688;
}
.features .container .time:hover a::after {
  width: 100%;
  background-color: #009688;
}

.features .container .time .image::before {
  background-color: rgb(0 150 136 / 60%);
}

.features .container .passion h2::after {
  background-color: #03a9f4;
}
.features .container .passion a {
  border-color: #03a9f4;
  color: #03a9f4;
}
.features .container .passion:hover a::after {
  width: 100%;
  background-color: #03a9f4;
}
.features .container .passion .image::before {
  background-color: rgb(3 169 244 / 60%);
}
/* End  Features */
/* Start Testimonials  */
.testimonials {
  background-color: var(--section-background-color);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.testimonials .main-title {
  z-index: 1;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.testimonials .container .box img {
  position: absolute;
  width: 100px;
  top: -50px;
  right: -10px;
  border-radius: 50%;
  border: 10px solid var(--section-background-color);
}
.testimonials .container .box h3 {
  font-size: 20px;
}
.testimonials .container .box .title {
  color: var(--main-color);
  font-size: 18px;
}
.testimonials .container .box p {
  line-height: 1.7;
  color: #777;
}
/* End Testimonials  */

/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -40px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-10px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    border-radius: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    border-radius: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End Animation */
